<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0">
        <div class="container-fluid h-100">
            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" viewBox="0 0 811 110">
                    <defs>
                        <style>
                            .cls-1 {
                                font-size: 150px;
                                filter: url(#filter);
                                fill: #0202d4;
                                font-family: "Glitch Inside";
                            }
                        </style>
                        <filter id="filter" x="-1" y="0" width="812" height="110" filterUnits="userSpaceOnUse">
                            <feOffset result="offset" dx="7.981" dy="0.558" in="SourceAlpha" />
                            <feGaussianBlur result="blur" />
                            <feFlood result="flood" flood-color="#fff" />
                            <feComposite result="composite" operator="in" in2="blur" />
                            <feBlend result="blend" in="SourceGraphic" />
                            <feFlood result="flood-2" flood-color="#8e0000" />
                            <feComposite result="composite-2" operator="in" in2="SourceGraphic" />
                            <feBlend result="blend-2" in2="blend" />
                        </filter>
                    </defs>
                    <text id="ArtCode" class="cls-1" x="-7" y="107.566">ArtCode</text>
                </svg></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 h-100 mb-md-0">
                    <li class="nav-item active d-flex align-items-center border-down button-size">
                        <a class="nav-link text-light" href="#">Sign In</a>
                    </li>
                    <li class="nav-item d-flex align-items-center border-down button-size">
                        <a class="nav-link text-light" href="#">Sign Up</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
</header>