<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-0">
        <div class="container-fluid h-100">
            <a class="navbar-brand d-flex align-items-center" [routerLink]="['/home']" style="height: 60px;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200"
                    viewBox="0 0 811 110">
                    <defs>
                        <style>
                            .cls-1 {
                                font-size: 150px;
                                filter: url(#filter);
                                fill: #0202d4;
                                font-family: "Glitch Inside";
                            }
                        </style>
                        <filter id="filter" x="-1" y="0" width="812" height="110" filterUnits="userSpaceOnUse">
                            <feOffset result="offset" dx="7.981" dy="0.558" in="SourceAlpha" />
                            <feGaussianBlur result="blur" />
                            <feFlood result="flood" flood-color="#fff" />
                            <feComposite result="composite" operator="in" in2="blur" />
                            <feBlend result="blend" in="SourceGraphic" />
                            <feFlood result="flood-2" flood-color="#8e0000" />
                            <feComposite result="composite-2" operator="in" in2="SourceGraphic" />
                            <feBlend result="blend-2" in2="blend" />
                        </filter>
                    </defs>
                    <text id="ArtCode" class="cls-1" x="-7" y="107.566">ArtCode</text>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="ms-auto d-md-flex">
                    <ul *ngIf="comunicationserviceService.proyect_snippet" class="navbar-nav mb-2 h-100 mb-md-0 me-2">
                        <li class="nav-item active d-flex align-items-center border-down button-size">
                            <a class="nav-link text-light" href="#"><i class="fas fa-cloud-upload-alt"></i> Save</a>
                        </li>
                    </ul>
    
                    <ul *ngIf="!logged; else notLogged" class="navbar-nav mb-2 h-100 mb-md-0">
                        <li class="nav-item active d-flex align-items-center border-down button-size">
                            <a class="nav-link text-light" [routerLink]="['/sign-up']">Sign Up</a>
                        </li>
                        <li class="nav-item d-flex align-items-center border-down button-size">
                            <a class="nav-link text-light" [routerLink]="['/sign-in']">Sign In</a>
                        </li>
                    </ul>
                    <ng-template #notLogged>
                        <ul class="navbar-nav mb-2 h-100 mb-md-0">
                            <li class="d-none d-md-flex align-items-center">
                                <a [routerLink]="['/user/profile']">
                                    <img class="rounded-circle" src="assets/img/profile/default.png" alt="" width="30">
                                </a>
                            </li>
                            <li class="nav-item dropdown d-md-flex align-items-center border-down button-size">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    My Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-md-end"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" [routerLink]="['/user/profile']">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">My Works</a></li>
                                    <li><a class="dropdown-item" href="#">Share Project</a></li>
                                    <li><a class="dropdown-item" href="#">My Plan</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" (click)="logged=false">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ng-template>

                </div>
                
            </div>
        </div>
    </nav>
</header>