.logo-header{
    width: 350px;
}

.img-background{
    /* position: absolute;
    z-index: 0; */
    background-image: url("../../../assets/img/fondo/background-image.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.btn-try{
    position: absolute;
    bottom: 16px;
    right: 16px;
}

@media (max-width: 768px) {

    .logo-header{
        width: 300px;
    }
}

@media (max-width: 576px) {
    .img-background{
        background-image: url("../../../assets/img/fondo/background-sm-image.png");
        background-repeat: no-repeat;
        background-position: right top;
    }
}