<main [ngClass]="{'main': comunicationserviceService.activo}">
    <section class="py-5 text-center container">
        <div class="row py-4 py-lg-5">
            <div class="col-12">
                <!-- <h1 class="fw-light">Album example</h1> -->
                <div class="mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo-header" 
                        viewBox="0 0 811 110">
                        <defs>
                            <style>
                                .cls-1 {
                                    font-size: 150px;
                                    filter: url(#filter);
                                    fill: #0202d4;
                                    font-family: "Glitch Inside";
                                }
                            </style>
                            <filter id="filter" x="-1" y="0" width="812" height="110" filterUnits="userSpaceOnUse">
                                <feOffset result="offset" dx="7.981" dy="0.558" in="SourceAlpha" />
                                <feGaussianBlur result="blur" />
                                <feFlood result="flood" flood-color="#fff" />
                                <feComposite result="composite" operator="in" in2="blur" />
                                <feBlend result="blend" in="SourceGraphic" />
                                <feFlood result="flood-2" flood-color="#8e0000" />
                                <feComposite result="composite-2" operator="in" in2="SourceGraphic" />
                                <feBlend result="blend-2" in2="blend" />
                            </filter>
                        </defs>
                        <text id="ArtCode" class="cls-1" x="-7" y="107.566">ArtCode</text>
                    </svg>
                </div>
                <div class="text-light mt-4">
                    <h2 class="mb-3">
                        Where you can develop all your art and code to your liking.
                    </h2>
                    <p>Create, discover and share, acquire plans that will allow you to reach your goals and expand your horizons. Develop interactive pages and expand your knowledge! All this and more, you find it here!</p>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light img-background">
        <!-- <img class="img-background" src="assets/img/fondo/background-image.png" alt=""> -->
        <div class="container">
            <h2 class="mb-4">Develop your projects with us, we offer you:</h2>
            <div class="row row-cols-1 row-cols-md-3 g-3 pb-5">
                <div class="col">
                    <div class="card shadow-sm">
<textarea highlight-js [options]="{}" [lang]="'html'">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dream App</title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>
</textarea>

                        <div class="card-body">
                            <!-- <div><i class="fab fa-html5" style="color: #f4470b; font-size: 2rem;"></i></div> -->
                            <p class="card-text"><span class="fw-bold">HTML</span>, which stands for HyperText Markup Language, refers to the markup language for creating web pages.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group ms-auto">
                                    <button type="button" class="btn btn-sm btn-outline-success">Try it!</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
<textarea highlight-js [options]="{}" [lang]="'css'">
p{
    background-color: black;
}
/* Header*/                                                   /**/
.class-new{
    text-align: center;
    color: rgb(255, 255, 255);
    size: 0.8rem;
}
.class-new:hover{
    size: 1.2rem;
}
</textarea>                        

                        <div class="card-body">
                            <p class="card-text"><span class="fw-bold">CSS</span> is a graphic design language for defining and creating the presentation of a structured document written in a markup language. </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group ms-auto">
                                    <button type="button" class="btn btn-sm btn-outline-success">Try it!</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
<textarea highlight-js [options]="{}" [lang]="'typescript'">
/* tslint:disable */                                           
import { Component } from '@angular/core';
  
@Component({
    selector: 'demo',
    templateUrl: './demo.component.html',
    styleUrls: ['./demo.component.scss']
})

export class DemoComponent {
    switchStatus: boolean = true;
}
</textarea>  

                        <div class="card-body">
                            <p class="card-text"><span class="fw-bold">JS</span> is an interpreted, object-oriented, prototype-based, imperative, weakly typed, dynamic programming language.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group ms-auto">
                                    <button type="button" class="btn btn-sm btn-outline-success">Try it!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mb-4">Our plans:</h2>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                  <div class="card mb-4 shadow-sm">
                  <div class="card-header bg-secondary">
                    <h4 class="my-0 text-light fw-bold">Basic</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>+5 projects</li>
                        <li>+5 snippets</li>
                        <li>Unique</li>
                        <li>Data persistence</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Learn more</button>
                  </div>
                </div>
                </div>
                <div class="col">
                  <div class="card mb-4 shadow-sm">
                  <div class="card-header bg-success">
                    <h4 class="my-0 text-light fw-bold">Medium</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$9.99 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>+15 projects</li>
                      <li>+15 snippets</li>
                      <li>Accumulable</li>
                      <li>Data persistence</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Learn more</button>
                  </div>
                </div>
                </div>
                <div class="col">
                  <div class="card mb-4 shadow-sm">
                  <div class="card-header bg-danger">
                    <h4 class="my-0 text-light fw-bold">Advanced</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$19.99 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>+30 projects</li>
                        <li>+30 snippets</li>
                        <li>Accumulable</li>
                        <li>Data persistence</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Learn more</button>
                  </div>
                </div>
                </div>
              </div>

            <div class="row mt-5">
                <div class="col-12">
                    <div class="card bg-dark text-center p-5" style="border-radius: 80px;">
                        <h2 class="text-success mb-2">Share with your friends!</h2>
                        <p class="text-light">You will be able to share your projects and snippets with other users for <span class="text-success fw-bold">free</span>! You can also see other projects shared with you. Click the button below to get started:</p>
                        <button type="button" class="btn mx-auto btn-lg btn-success mb-3">My Unit</button>

                        <h4 class="text-light my-4">We have the necessary tools to work on the front-end:</h4>
                        <div class="row">
                            <div class="col-12 col-sm-4 mb-3">
                                <i class="fab fa-7x fa-html5" style="color: #f4470b;"></i>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <i class="fab fa-7x fa-css3-alt" style="color: #026dba;"></i>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <i class="fab fa-7x fa-js" style="color: #e8d44d;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>