<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-4 col-md-6 col-lg-10"></div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-1">
            <button type="button" class="btn btn-light mb-1 form-control"><i class="far fa-window-close text-danger"></i> Cancel</button>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-1">
            <button type="button" class="btn btn-light mb-1 form-control" data-bs-toggle="modal"
                data-bs-target="#folder-model"><i class="far fa-save text-success"></i> Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="language"><i class="fab fa-html5" style="color: #f4470b;"></i> HTML</div>
            <div class="code-area">
                <app-code-html (changeHtml)="html = $event; updatePage();"></app-code-html>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="language "><i class="fab fa-css3-alt" style="color: #026dba;"></i> CSS</div>
            <div class="code-area">
                <app-code-css (changeCSS)="css = $event; updatePage();"></app-code-css>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="language "><i class="fab fa-js" style="color: #e8d44d;"></i> JS</div>
            <div class="code-area">
                <app-code-js (changeJS)="js = $event; updatePage();"></app-code-js>
            </div>            
        </div>
        <div class="col-12 col-md-6 col-lg-12 code-run">
            <iframe id="Example2" class="iframe-class" title="Display"
                [src]="url | safeURL:'resourceUrl'">
            </iframe>
        </div>
    </div>
</div>
<!-- getSafeUrl(url) provoca parpadeo-->